.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        margin-top: 80px;
        margin-bottom: 150px;
    }

    &__system-select {
        position: relative;
    }

    &__label {
        position: relative;
        width: 100%;
        display: block;
        &.error {
            & .order-form__input {
                border-color: $error-red;
                color: $error-red;
            }
        }
        &--system {
            grid-column: 1/2;
            grid-row: 1/2;
            &.select-active {
                & .order-form__input--system {
                    background-color: rgba(61, 64, 80, 0.85);
                    border: 1px solid $light-black;
                    border-radius: 3px 3px 0 0;
                    color: $standart-white;
                    &::placeholder {
                        color: $standart-white;
                    }
                }
                & ~ .order-form__select-wrapper {
                    transition: $transition-basic;
                    opacity: 1;
                    pointer-events: all;
                }
                & .order-form__input-icon {
                    transition: $transition-basic;
                    transform: rotate(-180deg);
                }
            }
        }
        &--email {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &--name {
            grid-column: 3/4;
            grid-row: 1/2;
        }
        &--file {
            grid-column: 3/4;
            grid-row: 2/3;
            position: relative;
            width: 100%;
            height: 48px;
            border: 2px solid $standart-blue;
            background-color: $standart-white;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.uploaded {
                justify-content: space-between;
                gap: 10px;
                padding: 0 10px;
                cursor: default;
                & .order-form__input-title {
                    display: none;
                }
                & .order-form__input-file-name {
                    display: block;
                }
                & .order-form__input-file-delete {
                    display: block;
                    opacity: 1;
                    pointer-events: all;
                    transition: $transition-basic;
                }
            }
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 12px 10px;
        border-radius: 3px;
        border: 1px solid $standart-white;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: $special-black;
        &:focus {
            border: 1px solid $light-blue;
        }
        &--file {
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: pointer;
            display: none;
            opacity: 0;
            padding: 0;
            @media (min-width: $tablet-width) {
            }
        }
        &-file-name {
            color: $special-black;
            display: none;
        }
        &-file-delete {
            display: block;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/icons/icon-button-delete.svg);
            opacity: 0;
            pointer-events: none;
            cursor: pointer;
            transition: $transition-basic;
            display: none;
        }
        &-title {
            display: inline;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
            color: $special-black;
            padding: 10px 10px 10px 28px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 18px;
                height: 20px;
                top: calc(50% - 10px);
                left: 0;
                background: no-repeat center center url(../img/icons/icon-file.svg);
            }
        }
        &--system {
            cursor: pointer;
        }
        &-icon {
            pointer-events: none;
            position: absolute;
            top: calc(50% - 10px);
            right: 10px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/icons/icon-arrow.svg);
            transition: $transition-basic;
        }
    }
    &__range-bar {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    &__submit {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        margin-top: 30px;
        @media (min-width: $tablet-width) {
            margin-top: 20px;
        }
    }
    &__select-wrapper {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 4px 3px 4px 10px;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        border: 1px solid $light-black;
        background-color: rgba(39, 39, 51);
        border-radius: 0 0 3px 3px;
        @media (min-width: $tablet-width) {
            border: 1px solid $light-black;
            border-radius: 0 0 3px 3px;
        }
    }
    &__select-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
