footer.footer
    .container
        .footer__wrapper
            .footer__content.footer__contacts.contacts  
                a(href="mailto:info@ipsum228.com").contacts__link.contacts__link--mail  info@ipsum228.com
                a(href="https://vk.com/" target="_blank" ).contacts__link.contacts__link--vk Мы вконтакте
            .footer__content.footer__payments.payments
                ul.payments__list 
                    li.payments__item.payments__item--qiwi Qiwi wallet
                    li.payments__item.payments__item--ym Yandex Money
                    li.payments__item.payments__item--wm Web Money
            .footer__content.footer__copyrights.copyrights © 2018 «LoremIpsum.net» Все права защищены.